<template>
  <div class="home">
    <chooseTheme/>
  </div>
</template>

<script>
// @ is an alias to /src
import chooseTheme from '@/components/chooseTheme.vue'

export default {
  name: 'Home',
  components: {
    chooseTheme
  }
}
</script>
