<template>
  <div class="elenavolpato">
    <div class="quiz">
      <div id="intro">
        <header>
          <h2>🦆 Welcome to Awesome Quizes</h2>
        </header>
        <select id="selectTheme" v-model="selectedTheme">
          <option style="color: darkgrey" value="" selected disabled>
            Please choose a theme
          </option>
          <option v-for="theme in themes" :value="theme.id" :key="theme.id">
            {{ theme.themeName }}
          </option>
        </select>
      </div>
      <button @click="chooseTheme()" :disabled="selectedTheme == ''">
        Go to Quiz!
      </button>
      <!--- 
      <strong style="color:#2c3e50">or </strong>
      <button id="createQuiz"> Create your own Quiz</button> 
      -->
    </div>
    <footer>
      <a href="https://www.elenavolpato.me"><div class="back">Back to elenavolpato.me</div></a>
    </footer>
  </div>
</template>

<script>
import db from "../database/questions.js";
export default {
  name: "chooseTheme",
  data() {
    return {
      themes: db.questionsDB,
      selectedTheme: "",
    };
  },

  methods: {
    chooseTheme() {
      if (
        this.selectedTheme == 1 ||
        this.selectedTheme == 2 ||
        this.selectedTheme == 3
      ) {
        console.log(this.themes[this.selectedTheme - 1].name);
        this.$router.push({
          name: "questions",
          params: { themeId: this.selectedTheme },
        });
      } else {
        console.log(this.selectedTheme);
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

#selectTheme {
  margin: 1rem;
  width: 90%;
  padding: 0.35rem;
}

button {
  background-color: rgb(212,170,0);
  padding: 1rem;
  color: whitesmoke;
  border: none;
  margin: 1rem auto;
}

button:disabled {
  background-color: rgb(204, 195, 159);
  color: whitesmoke;
}

button:active {
  background-color: darkgoldenrod;
}
#createQuiz {
  background-color: rgb(102, 63, 209);
}
#createQuiz:hover {
  background-color: rgb(51, 32, 102);
}
#createQuiz:active {
  background-color: rgb(165, 146, 218);
  color: rgb(36, 10, 107);
}
</style>
