<template>
  <div class="elenavolpato">
    <div class="quiz">
      <header>
        <h2>Quiz about {{ questionsDB[themeId - 1].themeName }}</h2>
      </header>
      <div
        class="question"
        v-for="(question, qindex) in questionsDB[themeId - 1].questions"
        :key="`question-${qindex}`"
      >
        <h3>{{ question.question }}</h3>
        <div class="buttonGroup">
          <div
            class="alternatives"
            v-for="(option, index) in question.options"
            :key="index"
          >
            <button
              :class="buttonClass(index, qindex)"
              :disabled="buttonEnable[qindex] == false"
              :value="index"
              :name="`answer-${qindex}`"
              @click="checkAnswer(index, qindex)"
            >
              {{ option }}
            </button>
          </div>
        </div>
        <div class="result">{{ result[qindex] }}</div>
      </div>
      <div class="themeInfo" v-html="footerInfo">
        {{ footerInfo }}
      </div>
    </div >
    <footer>
      <router-link to="/" class="back">
        Back to themes
      </router-link>
      <a class="back" href="https://www.elenavolpato.me"
        >Back to elenavolpato.me
      </a>
      
    </footer>
  </div>
</template>

<script>
import db from "../database/questions.js";
export default {
  name: "questions",
  props: ["themeId"],
  data() {
    return {
      questionsDB: db.questionsDB,
      result: Array(db.questionsDB[this.themeId - 1].questions.length).fill(""),
      footerInfo: db.questionsDB[this.themeId - 1].afooter,
      buttonEnable: Array(
        db.questionsDB[this.themeId - 1].questions.length
      ).fill(true),
      chosen: Array(db.questionsDB[this.themeId - 1].questions.length).fill(-1),
    };
  },
   
  methods: {
    checkAnswer(a, q) {
      if (a == this.questionsDB[this.themeId - 1].questions[q].correctAnswer) {
        this.$set(this.result, q, "Yes! That's right.");
      } else {
        this.$set(this.result, q, "Ooops, not this time.");
      }
      this.buttonEnable[q] = false;
      this.$set(this.chosen, q, a);
    },

    buttonClass(alternative, question) {
      return {
        right:
          alternative == this.questionsDB[this.themeId - 1].questions[question].correctAnswer &&
          this.buttonEnable[question] == false,
          selectedButton: this.chosen[question] == alternative
      };
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.question {
  margin: auto;
  max-width: 90%;
}

.buttonGroup {
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.alternatives {
  margin: 0.5rem;
}

button {
  background-color: rgb(204, 195, 159);
  border: solid 1px rgba(0, 0, 0, 0.753);
  padding: 1rem;
  color: black;
  border: none;
  max-width: 350px;
}
button:is(:hover, ::after) {
  background-color: darkgoldenrod;
}

button:disabled.right {
  background-color: rgb(87, 165, 87);
  transition: 1s;
  color: black;
}

button:disabled {
  background-color: rgb(248, 173, 173);
  transition: 1s;
  color: rgb(134, 79, 79)
}
button.selectedButton {
  border: solid rgb(83, 82, 82) 2px;
}

.result {
  margin: 0 auto;
  font-size: 25px;
  float: none;
  padding: 1rem;
}

footer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
}

.themeInfo {
  font-size: 18px;
  background-color: black;
  color: white;
  margin-top: 1rem;
  border: solid 2px white;
  padding: 1rem;

  
}
</style>

