<template>
  <div id="app">  
    <router-view/>
  </div>
</template>

<style>

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap");

body {
  background-color: whitesmoke;
  margin: 1rem auto;
  font-family:'Source Sans Pro';
  
}

@media screen and (max-width: 600px) {
  body {
    width: 90%;
  }
  .quiz {
    width: 100%
  }  
}

@media screen and (min-width: 601px) {
  body {
    width: 60%;
  }
  .quiz {
    width: 60%;
  }
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

header {
  padding: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.125);
  font-size: 1.2rem;
}

.quiz{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
    
}
.back{
  margin: 10px ;
  font-size: 1rem;
  color: darkgoldenrod;
}

a {
  text-decoration:none;
  color: goldenrod;
} 





</style>
